@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <img src="~/Images/meetups/20130108_01.jpg" style="width:600px;" title="A Hacker Club meeting in January 2013 at Books-A-Million in Bangor, ME." />
    </p>

    <p>
        The Maine Hacker Club is a group of technology enthusiasts and do-it-yourselfers in central and northern Maine.
    </p>

    <p>
        We get together every week or so at various locations. Most recently we've been meeting at the Maine Discovery museum in Bangor 
        weekly on alternating Tuesdays and Wednesdays. Check the @Html.ActionLink("Home Page", "Index", "Home", null, new { title="Upcoming hacker meetings" }) for upcoming dates.
    </p>

    <p>
        If you are a hacker, or hacker-curious please stop by our next meeting and say hi, there's not much structure to the meet-up's; 
        but it's a great chance to meet some local people with similar interests!
    </p>
    <br /><br /><br />
</article>

<aside class="meetupaside">
    @Html.Partial("MeetupProfile")
</aside>
<aside>
    <h3>Site Links</h3>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home", null, new { title="Home Page" })</li>
        <li>@Html.ActionLink("About", "About", "Home", null, new { title="About The Maine Hacker Club" })</li>
        <li><a href="/forums/" title="Visit the Hack Maine Forums...">Forums</a></li>
    </ul>
</aside>