@using hackmaine.org.Models;
@using hackmaine.org.Controllers;

@{
    ViewBag.Title = "Welcome Hackers!";
    List<EventInfo> ActiveEvents = ViewBag.ActiveEvents;
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div class="right">
                <div class="g-plusone" data-size="large" data-href="http://www.hackmaine.org"></div>
            </div>
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div class="right"><a href="https://twitter.com/mainehackerclub" class="twitter-follow-button" data-show-count="false">Follow @("@")mainehackerclub</a></div>
            <p>
                The goal of this group is to establish a cross generational technical community in our region of Maine.
            </p>
        </div>
    </section>
}
@section scripts{
    <script>
        $(function () {
            $(".gallery").jCarouselLite({
                btnNext: ".mouseWheelButtons .vertical .next",
                btnPrev: ".mouseWheelButtons .vertical .prev",
                mouseWheel: true,
                vertical: true,
                visible: 2,
                scroll: 1,
                auto: 5000,
                speed: 1500,
                //circular: false
            });
        });

        $('.gallery ul li img').each(function () {
            var text = $(this).attr('title');
            if (text.length && text.length > 0) {
                var p = $('<p/>');
                p.html(text);
                $(this).closest('li').append(p);
            }
        });

        $('#nextMeeting').hide();
        $(function () {
            var that = $;
            $.ajax({
                url: '/Home/MeetupFrame',
                dataType: 'html',
                success: function (data, textStatus) {
                    that('#nextMeetup').html(data);
                    that('#nextMeeting').show();
                }
            });
        });

        // Twitter
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
   </script>
}
<article>
    <p>
        The group is targeted toward technical enthusiasts in central and northern Maine.
        We welcome any and all technical interests whether you're into software, hardware, networking, or mobile app development.  
    </p>

@if (ActiveEvents != null)
{
    DateTime Now=DateTime.Now;
    foreach (var meeting in ActiveEvents.Where(m=>m.Next != null).OrderBy(m => m.Next.NextEnd < Now).ThenBy(m => m.Next.NextStart))
    {
    <h3>@meeting.EventName:@if(meeting.ImageURLs!=null && meeting.ImageURLs.Count()>0){<a class="fancybox" href="@meeting.ImageURLs.First()"><img class="icon_inline" title="Photo" alt="Photo of @meeting.EventName" src="~/Images/zoom_best_fit_14.png" /></a>}</h3>
        foreach(var Next in meeting.Upcoming)
        {
        VenueInfo Venue = Next.Venue;
        DateTime Start = Next.NextStart;
        DateTime End = Next.NextEnd;
        bool hasURL=!string.IsNullOrWhiteSpace(Venue.URL_Web);
        bool hasImage = !string.IsNullOrWhiteSpace(Venue.URL_Image);
    <div itemscope itemtype="http://data-vocabulary.org/Event"><meta itemprop="summary" content="@meeting.EventName">
        <ul>
            <li><time itemprop="startDate" datetime="@Start.ToISOString()">
                @if(ViewBag.showedFirst!=true){<mark title="Next Meeting">@Start.ToLongDateString()</mark> ViewBag.showedFirst = true;}
                else{@Start.ToLongDateString()}
                @Start.ToShortTimeString().Replace(":00", "").Replace(" ", "").ToLower()</time> until <time itemprop="endDate" datetime="@End.ToISOString()">@End.ToShortTimeString().Replace(":00", "").Replace(" ", "").ToLower()</time>
                @if(Start > DateTime.Now)
                {
                @Html.ActionLink("Add to Outlook", "vCal", new { id = meeting.NextUID(Next) }, new { @class = "icon16 vCal", title="Add to Outlook or iCalendar" })
                <a class="icon16 googleCal" href="@Html.Raw(meeting.CreateGoogleCalURL(Next))" title="Add to Google Calendar">Add to Google</a>
                <a class="icon16 yahooCal" href="@Html.Raw(meeting.CreateYahooCalURL(Next))" title="Add to Yahoo Calendar">Add to Yahoo</a>
                }
                <div itemprop="location" itemscope itemtype="http://data-vocabulary.org/Place">
                    @if(hasURL) {<a title="Visit @Venue.Name website" href="@Venue.URL_Web" itemprop="URL"><span itemprop="name">@Venue.Name</span></a>}
                    else {<span itemprop="name">@Venue.Name</span>}@if(hasImage){<a itemprop="photo" class="fancybox" title="Photo of @Venue.Name" href="@Venue.URL_Image"><img class="icon_inline" alt="Photo of @Venue.Name" src="~/Images/zoom_best_fit_14.png" /></a> }
                    @Venue.LocationDesc (<a class="map" data-fancybox-type="iframe" title="Google Map: @Venue.LocationAddr" href="@Html.Raw(Venue.EmbedURL)">map</a>)
                    <meta itemprop="map" content="@Venue.DirectURL" />
                    ​<address itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                        <span itemprop="street-address">@Venue.LocationAddrStreet</span>
                        <span itemprop="locality">@Venue.LocationAddrLocality</span>, 
                        <span itemprop="region">@Venue.LocationAddrState</span>
                    </address>
                    @if (Venue.HasCoords)
                    {
                    <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
                        <meta itemprop="latitude" content="@Venue.Latitude" />
                        <meta itemprop="longitude" content="@Venue.Longitude" />
                    </span>
                    }
                </div>
            </li>
        </ul>
    </div>
        }
    }
}
    <hr />
    <h3>Web Projects</h3>
    <ul><li><a href="http://awesomesauce.me">Awesomesauce</a>: Maine Hacker Club Projects published from <a href="https://github.com/mainehackerclub/" title="Maine Hacker Club on GitHub">gitHub/</a><a href="https://github.com/mainehackerclub/Node-Folio">Node-Folio</a></li></ul>

    <h3>For more information:</h3>
    <ol class="round">

        <li class="one">
            <h5><a title="Maine Hacker Forums" href="http://www.hackmaine.org/forums">Forums…</a></h5>
            Visit our forums to connect with other members, and discuss your projects.
        </li>

        <li class="two">
            <h5><a title="Hacker Club (Bangor, ME) - Meetup" href="http://www.meetup.com/Hacker-Club/">Meetup…</a></h5>
            Join the meetup group to find out when the next meeting is, and let everyone know you're coming.
        </li>

        <li class="three">
            <h5><a title="Maine Hacker Club - Google Groups" href="https://groups.google.com/forum/?fromgroups#!forum/maine-hacker-club">Google Group…</a></h5>
            Join the Maine Hacker Club discussion on Google Groups.
        </li>

        <li class="four">
            <h5><a title="Maine Hacker Club on Twitter" href="https://twitter.com/mainehackerclub">Twitter…</a></h5>
            Check out @("@")mainehackerclub on Twitter. 
        </li>

        <li class="five">
            <h5><a title="YouTube: Maine Hacker Club" href="http://www.youtube.com/user/MaineHackerClub">YouTube…</a></h5>
            Group Videos on YouTube
        </li>

    </ol>
</article>
@{
    IEnumerable<ImageInfo> Images=ViewBag.Images;
    if (Images != null && Images.Count() > 0)
    {
<aside>
    <h3>Previous Meetups</h3>
    <div class="gallery vertical">
        <ul>
        @foreach (var image in Images)
        {
            <li><a class="fancybox" rel="" href="@Html.Raw(image.FullURL)">
                <img title="@if (image.Date.HasValue)
                            { @image.Date.Value.ToDateString()<text>:  </text>}@Html.Encode(image.Title)" src="@Html.Raw(image.ThumbURL)" /></a></li>
        }
        </ul>
    </div>
</aside>
    }
}
<aside class="meetupaside">
    @Html.Partial("MeetupProfile")
</aside>
<article id="nextMeeting">
    <h3>Upcoming Meetup</h3>
    <div id="nextMeetup"></div>
</article>
