@using hackmaine.org.Models;
@using hackmaine.org.Controllers;

@{
    ViewBag.Title = "Welcome Hackers!";
    List<EventInfo> ActiveEvents = ViewBag.ActiveEvents;
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div class="right">
                <div class="g-plusone" data-size="large" data-href="http://www.hackmaine.org"></div>
            </div>
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div class="right"><a href="https://twitter.com/mainehackerclub" class="twitter-follow-button" data-show-count="false">Follow @("@")mainehackerclub</a></div>
            <p>
                The goal of this group is to establish a cross generational technical community in our region of Maine.
            </p>
        </div>
    </section>
}
@section scripts{
    <script>
        $(function () {
            $(".gallery").jCarouselLite({
                btnNext: ".mouseWheelButtons .vertical .next",
                btnPrev: ".mouseWheelButtons .vertical .prev",
                mouseWheel: true,
                vertical: true,
                visible: 2,
                scroll: 1,
                auto: 5000,
                speed: 1500,
                //circular: false
            });
        });

        $('.gallery ul li img').each(function () {
            var text = $(this).attr('title');
            if (text.length && text.length > 0) {
                var p = $('<p/>');
                p.html(text);
                $(this).closest('li').append(p);
            }
        });

        // Twitter
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
    </script>
}
<article>
    <p>
        The group is targeted toward technical enthusiasts in the area of Maine roughly around the following towns:  Bangor & Monroe.
        We welcome any and all technical interests whether you're into software, hardware, networking, or mobile app development.  
    </p>

@if (ActiveEvents != null)
{
    bool printedPast = false;
    int i = 0;
    DateTime Now=DateTime.Now;
    foreach (var upcoming in ActiveEvents.OrderBy(m=>m.NextEnd < Now).ThenBy(m => m.NextStart))
    {
        i++;
        if (upcoming.NextEnd < DateTime.Now && !printedPast)
        {
            printedPast = true;
            <hr />
            <h4 style="margin-bottom:-12px;">Past Events:</h4>
        }
    <div itemscope itemtype="http://data-vocabulary.org/Event">
    <h3><span itemprop="summary">@upcoming.EventName</span>:</h3>
        <ul>
            <li><time itemprop="startDate" datetime="@upcoming.Start.ToISOString()"><mark>@upcoming.NextStart.ToLongDateString()</mark> @upcoming.NextStart.ToShortTimeString().Replace(":00", "").Replace(" ", "").ToLower()</time> until <time itemprop="endDate" datetime="@upcoming.NextEnd.ToISOString()">@upcoming.NextEnd.ToShortTimeString().Replace(":00", "").Replace(" ", "").ToLower()</time> @("@") 
                <span itemprop="location" itemscope itemtype="http://data-vocabulary.org/​Organization">@upcoming.Venue.Name</span>
                @upcoming.Venue.LocationDesc (<a onclick="ShowMap@(i)();return false;" title="Google Map: @upcoming.Venue.LocationAddr" href="@upcoming.Venue.DirectURL">map</a>)
                 ​<address itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                     <span itemprop="street-address">@upcoming.Venue.LocationAddrStreet</span>, 
                     <span itemprop="locality">@upcoming.Venue.LocationAddrLocality</span>, 
                     <span itemprop="region">@upcoming.Venue.LocationAddrState</span>
                 </address>
                @if (upcoming.Venue.HasCoords)
                {
                 <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/​Geo">
                    <meta itemprop="latitude" content="@upcoming.Venue.Latitude" />
                    <meta itemprop="longitude" content="@upcoming.Venue.Longitude" />
                 </span>
                }
                </li>
        </ul>
        <script>
            var mapBuilt@(i) = false;
            function ShowMap@(i)() {
                $('#mapBox@(i)').show();
                if (!mapBuilt@(i)) {
                    var mapFrame = '<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="@Html.Raw(upcoming.Venue.EmbedURL)"></iframe>';
                    var largerLink = '<small><a href="@Html.Raw(upcoming.Venue.LargerURL)" style="color:#0000FF;text-align:left">View Larger Map</a></small>';
                    $('#mapBox@(i)').html($('#mapBox@(i)').html() + mapFrame + '<br/>' + largerLink);
                    mapBuilt@(i) = true;
                }
            }
        </script>

    </div>

        <div id="mapBox@(i)" style="display:none;">
        <div class="closeButton" onclick="$('#mapBox@(i)').hide();return false;">X</div>
        </div>
    }
}
    <hr />
    <h3>Web Projects</h3>
    <ul><li><a href="http://awesomesauce.me">Awesomesauce</a>: Maine Hacker Club Projects published from <a href="https://github.com/mainehackerclub/Node-Folio">gitHub/Node-Folio</a></li></ul>

    <h3>For more information:</h3>
    <ol class="round">

        <li class="one">
            <h5><a title="Maine Hacker Forums" href="http://www.hackmaine.org/forums">Forums…</a></h5>
            Visit our forums to connect with other members, and discuss your projects.
        </li>

        <li class="two">
            <h5><a title="Hacker Club (Bangor, ME) - Meetup" href="http://www.meetup.com/Hacker-Club/">Meetup…</a></h5>
            Join the meetup group to find out when the next meeting is, and let everyone know you're coming.
        </li>

        <li class="three">
            <h5><a title="Maine Hacker Club - Google Groups" href="https://groups.google.com/forum/?fromgroups#!forum/maine-hacker-club">Google Group…</a></h5>
            Join the Maine Hacker Club discussion on Google Groups.
        </li>

        <li class="four">
            <h5><a title="Maine Hacker Club on Twitter" href="https://twitter.com/mainehackerclub">Twitter…</a></h5>
            Check out @("@")mainehackerclub on Twitter. 
        </li>

        <li class="five">
            <h5><a title="Maine Hacker Club" href="http://mainehackerclub.tumblr.com/">Tumblr…</a></h5>
            The Tumblr page has archives and photos from previous meetups
        </li>


    </ol>
</article>
<aside>
    <h3>Previous Meetups</h3>
    <div class="gallery vertical">
        <ul>
            <li><a class="fancybox" rel="" href="~/Images/meetups/20120724_01.jpg">
                <img title="24th Jul 2012: Hacking Arduino via Sketch IDE." src="~/Images/meetups/20120724_01t.jpg" /></a></li>
            <li><a class="fancybox" rel="" href="~/Images/meetups/20120724_02.jpg">
                <img title="24th Jul 2012: Grokking memory corruption security exploits." src="~/Images/meetups/20120724_02t.jpg" /></a></li>
            <li><a class="fancybox" rel="" href="~/Images/meetups/20120918_01.jpg">
                <img title="18th Sep 2012: Denis takes us through a “Electrical Circuits 101” " src="~/Images/meetups/20120918_01t.jpg" /></a></li>
            <li><a class="fancybox" rel="" href="~/Images/meetups/20121002_01.jpg">
                <img title="2nd Oct 2012: Check out the nerd joy on @("@")zacheryschiller" src="~/Images/meetups/20121002_01t.jpg" /></a></li>
            <li><a class="fancybox" rel="" href="~/Images/meetups/20121002_02.jpg">
                <img title="2nd Oct 2012: Join us for some hardware hacking." src="~/Images/meetups/20121002_02t.jpg" /></a></li>
        </ul>
    </div>
</aside>
